f3-3-0_fa15_ws_050715*
MPMissions.lnk
MPMissionsCache.lnk
server mpmissions.lnk
startServer.bat
*.pbo
temp
tempMissionMP*
f3git*
1945zeus.Staszow
F3-FA-Template.VR
f44.VR
pictures
.~lock*